Bandladder_AI_Scheduling.json
{
  "updatedAt": "2026-01-19T14:52:45.438Z",
  "createdAt": "2026-01-19T13:42:04.725Z",
  "id": "gZsX0NKSqxAUrRlT",
  "name": "Bandladder AI Scheduling",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "webhookId": "bandladder-telegram-trigger",
      "credentials": {
        "telegramApi": {
          "id": "a6ZPKX5fbTN6Bklz",
          "name": "Bandladder Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the lead details from the following Telegram message:\n\nFrom: {{ $json.message.from.first_name }} {{ $json.message.from.last_name }}\nUsername: @{{ $json.message.from.username }}\nMessage:\n{{ $json.message.text }}\n\nToday's date is: {{ $now.format('yyyy-MM-dd') }}",
        "options": {
          "systemMessage": "You are a scheduling assistant for Bandladder, an IELTS/PTE/CELPIP preparation business.\n\nYour task is to extract the following details from the Telegram message:\n1. Lead Name - The name of the person requesting the consultation (use the name from the message content if provided, otherwise use the Telegram 'From' name)\n2. Lead Contact - Their Telegram username if available, or use the From name as contact\n3. Lead Email - Their email address if provided (or UNKNOWN)\n4. Meeting Start Time - When they want to meet\n5. Meeting End Time - Assume 1 hour duration if not specified\n\nIMPORTANT DATE/TIME RULES:\n- Today's date will be provided in the message\n- Convert ALL times to ISO 8601 format (e.g., 2026-01-20T17:00:00+05:30)\n- Use timezone +05:30 (IST) unless otherwise specified\n- 'tomorrow' means the day after today's date\n- If time is vague like '5 PM' or 'tomorrow at 3', calculate based on today's date\n- If no date is mentioned, assume the next business day\n- If duration is not mentioned, assume 1 hour meeting\n\nOUTPUT FORMAT (Strict JSON only, no markdown code blocks):\n{\n  \"lead_name\": \"Full Name\",\n  \"lead_contact\": \"@telegram_username or Full Name\",\n  \"lead_email\": \"email@example.com or UNKNOWN\",\n  \"start_time\": \"2026-01-20T17:00:00+05:30\",\n  \"end_time\": \"2026-01-20T18:00:00+05:30\"\n}\n\nIMPORTANT: \n- If username is empty or just '@', use the person's name as lead_contact instead\n- NEVER return just '@' as lead_contact\n- If any field cannot be extracted, use 'UNKNOWN' as the value\n- Do NOT wrap output in markdown code blocks"
        }
      },
      "id": "ai-agent-scheduler",
      "name": "AI Scheduling Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        528
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "AkxgrZBH93w35kMj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI output\nconst item = $input.first().json;\nlet rawText = item.output || item.text || '';\n\n// Clean up markdown formatting if present\nconst cleanJson = rawText.replace(/```json|```/g, '').trim();\n\n// Get Telegram data\nconst telegramData = $('Telegram Trigger').first().json;\nconst chatId = telegramData.message.chat.id;\nconst fromName = `${telegramData.message.from.first_name || ''} ${telegramData.message.from.last_name || ''}`.trim();\nconst username = telegramData.message.from.username;\n\n// Parse the JSON\ntry {\n  const parsed = JSON.parse(cleanJson);\n  \n  // Fix lead_contact if it's just '@' or empty\n  let leadContact = parsed.lead_contact || 'UNKNOWN';\n  if (leadContact === '@' || leadContact === '' || leadContact === 'UNKNOWN') {\n    leadContact = username ? `@${username}` : fromName || 'UNKNOWN';\n  }\n  \n  // Check if we have valid time\n  const hasValidTime = parsed.start_time && parsed.start_time !== 'UNKNOWN' && parsed.start_time.length > 10;\n  \n  return {\n    json: {\n      lead_name: parsed.lead_name || fromName || 'UNKNOWN',\n      lead_contact: leadContact,\n      lead_email: parsed.lead_email || 'UNKNOWN',\n      start_time: parsed.start_time || '',\n      end_time: parsed.end_time || '',\n      telegram_chat_id: chatId,\n      telegram_username: username || 'unknown',\n      is_valid: hasValidTime\n    }\n  };\n} catch (e) {\n  return {\n    json: {\n      error: 'Failed to parse AI response',\n      raw_response: rawText,\n      lead_name: fromName || 'UNKNOWN',\n      lead_contact: username ? `@${username}` : fromName || 'UNKNOWN',\n      lead_email: 'UNKNOWN',\n      start_time: '',\n      end_time: '',\n      telegram_chat_id: chatId,\n      is_valid: false\n    }\n  };\n}"
      },
      "id": "parse-json",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose",
            "leftValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-valid-data",
      "name": "Check Valid Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        304
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "start": "={{ $json.start_time }}",
        "end": "={{ $json.end_time }}",
        "additionalFields": {
          "description": "=IELTS/PTE/CELPIP Consultation with {{ $json.lead_name }}\n\nTelegram: @{{ $json.telegram_username }}\nContact: {{ $json.lead_contact }}\nEmail: {{ $json.lead_email }}\n\nThis meeting was automatically scheduled by the Bandladder AI Assistant.",
          "sendUpdates": "all",
          "summary": "=Bandladder Consultation - {{ $json.lead_name }}"
        }
      },
      "id": "google-calendar",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1008,
        208
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GvtVojLCUzfhfksL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse AI Response').item.json.telegram_chat_id }}",
        "text": "=\u2705 *Meeting Booked Successfully!*\n\n\ud83d\udcc5 *MEETING DETAILS:*\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n*Title:* Bandladder Consultation\n*Lead:* {{ $('Parse AI Response').item.json.lead_name }}\n*Contact:* {{ $('Parse AI Response').item.json.lead_contact }}\n*Start:* {{ $('Parse AI Response').item.json.start_time }}\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n\n{{ $json.lead_email !== 'UNKNOWN' ? 'A calendar invite has been sent to ' + $json.lead_email : 'No email provided - please share calendar link manually.' }}\n\n\u2014 Bandladder AI Scheduler",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-confirmation",
      "name": "Send Telegram Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        208
      ],
      "webhookId": "f4b26638-763a-4b05-a53e-fc24b2335800",
      "credentials": {
        "telegramApi": {
          "id": "a6ZPKX5fbTN6Bklz",
          "name": "Bandladder Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "=\u26a0\ufe0f *Could Not Schedule Meeting*\n\nI could not automatically schedule a meeting from your message.\n\n*Reason:* Could not extract valid meeting time.\n\nPlease provide:\n- Your name\n- Preferred date and time (e.g., \"tomorrow at 3 PM\")\n- Your email (optional, for calendar invite)\n\n\u2014 Bandladder AI Scheduler",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "error-notification",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        464
      ],
      "webhookId": "b095835d-aa85-4d66-8f46-c55e7a7ba2d9",
      "credentials": {
        "telegramApi": {
          "id": "a6ZPKX5fbTN6Bklz",
          "name": "Bandladder Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Scheduling Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Scheduling Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Scheduling Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Check Valid Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid Data": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Send Telegram Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "cvshxmj3jYHG9qzu1Z8r8"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "ca19a497-8fba-4416-94a1-fdc28162546a",
  "activeVersionId": "ca19a497-8fba-4416-94a1-fdc28162546a",
  "versionCounter": 19,
  "triggerCount": 1,
  "tags": []
}