GitHub_to_Socials_Auto_Poster.json
{
  "updatedAt": "2026-01-24T12:00:00.000Z",
  "createdAt": "2026-01-18T13:58:42.330Z",
  "id": "NlRUsHOxJpmujJST",
  "name": "GitHub_to_Socials_Auto_Poster",
  "description": "Auto-posts to LinkedIn when code is pushed to GitHub. Includes error handling and debug logging.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "salvatore786",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "BandLadder"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "id": "github-trigger",
      "name": "GitHub Push Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "webhookId": "github-push-webhook",
      "credentials": {
        "githubApi": {
          "id": "tvRX9UbKGHsR2MlF",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5765aborr",
        "text": "=🔔 GitHub Webhook Received!\n\n📦 Repo: {{ $json.repository?.full_name || 'unknown' }}\n🌿 Branch: {{ $json.ref || 'unknown' }}\n📝 Commit: {{ $json.head_commit?.message || 'no commit message' }}\n👤 Author: {{ $json.head_commit?.author?.name || 'unknown' }}\n\n⏳ Processing...",
        "additionalFields": {}
      },
      "id": "debug-trigger-log",
      "name": "Debug: Webhook Received",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        304
      ],
      "credentials": {
        "telegramApi": {
          "id": "dMaFcoHdqkmf0DA5",
          "name": "Tempated"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "main-branch-condition",
              "leftValue": "={{ $('GitHub Push Trigger').item.json.ref }}",
              "rightValue": "refs/heads/main",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-main",
      "name": "Filter Main Branch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate social media posts for this GitHub push:\n\nRepository: {{ $('Debug: Webhook Received').item.json.repository?.full_name || 'BandLadder' }}\nCommit Message: {{ $('Debug: Webhook Received').item.json.head_commit?.message || 'Code update' }}\nAuthor: {{ $('Debug: Webhook Received').item.json.head_commit?.author?.name || 'Developer' }}\nChanges: {{ $('Debug: Webhook Received').item.json.head_commit?.added?.length || 0 }} files added, {{ $('Debug: Webhook Received').item.json.head_commit?.modified?.length || 0 }} files modified\n\nCreate TWO posts:\n1. A LinkedIn post (professional, 150-200 words, include relevant hashtags)\n2. A Twitter/X post (concise, under 280 characters, include hashtags)\n\nRespond in this exact JSON format:\n{\n  \"linkedin_post\": \"your linkedin content here\",\n  \"twitter_post\": \"your twitter content here\"\n}",
        "options": {
          "systemMessage": "You are a Tech Influencer Social Media Manager for BandLadder. Your job is to create engaging social media content about code updates and releases. Be enthusiastic but professional. Focus on the value and impact of changes, not technical jargon. Always respond with valid JSON only."
        }
      },
      "id": "ai-agent",
      "name": "AI Content Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        704,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI response to extract LinkedIn and Twitter posts\nconst aiResponse = $input.first().json.output;\n\ntry {\n  // Try to parse as JSON directly\n  let parsed;\n  \n  // Check if response contains JSON in markdown code block\n  const jsonMatch = aiResponse.match(/```json?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[1].trim());\n  } else {\n    // Try direct JSON parse\n    parsed = JSON.parse(aiResponse);\n  }\n  \n  return {\n    json: {\n      linkedin_post: parsed.linkedin_post || '',\n      twitter_post: parsed.twitter_post || ''\n    }\n  };\n} catch (e) {\n  // Fallback: extract content manually\n  return {\n    json: {\n      linkedin_post: aiResponse.substring(0, 500),\n      twitter_post: aiResponse.substring(0, 280),\n      parse_error: e.message\n    }\n  };\n}"
      },
      "id": "parse-json",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "person": "me",
        "text": "={{ $json.linkedin_post }}",
        "additionalFields": {}
      },
      "id": "linkedin-post",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1152,
        304
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "QBoiCHQe9kpAN2Pf",
          "name": "LinkedIn account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "5765aborr",
        "text": "=❌ LinkedIn Post FAILED!\n\n🔴 Error: {{ $json.error?.message || $json.message || 'Unknown error' }}\n📦 Repo: {{ $('Debug: Webhook Received').item.json.repository?.full_name || 'unknown' }}\n📝 Commit: {{ $('Debug: Webhook Received').item.json.head_commit?.message || 'unknown' }}\n\n💡 Common fixes:\n1. Re-authenticate LinkedIn in n8n credentials\n2. Check LinkedIn API permissions\n3. Verify OAuth token hasn't expired",
        "additionalFields": {}
      },
      "id": "linkedin-error-notify",
      "name": "LinkedIn Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "dMaFcoHdqkmf0DA5",
          "name": "Tempated"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5765aborr",
        "text": "=❌ AI Content Generation FAILED!\n\n🔴 Error: {{ $json.error?.message || $json.message || 'Unknown error' }}\n📦 Repo: {{ $('Debug: Webhook Received').item.json.repository?.full_name || 'unknown' }}\n📝 Commit: {{ $('Debug: Webhook Received').item.json.head_commit?.message || 'unknown' }}\n\n💡 Check Gemini API key and quota",
        "additionalFields": {}
      },
      "id": "ai-error-notify",
      "name": "AI Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "dMaFcoHdqkmf0DA5",
          "name": "Tempated"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5765aborr",
        "text": "=\u2705 GitHub to Socials Auto-Posted!\n\n\ud83d\udccc Repository: {{ $('GitHub Push Trigger').item.json.repository.full_name }}\n\ud83d\udcdd Commit: {{ $('GitHub Push Trigger').item.json.head_commit.message }}\n\n\ud83d\udd17 LinkedIn: Posted\n\ud83d\udc26 X/Twitter: Posted",
        "additionalFields": {}
      },
      "id": "success-notify",
      "name": "Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        304
      ],
      "webhookId": "4fcb7394-9369-4f77-bdc4-2220ea958eac",
      "credentials": {
        "telegramApi": {
          "id": "dMaFcoHdqkmf0DA5",
          "name": "Tempated"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        512
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "AkxgrZBH93w35kMj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "GitHub Push Trigger": {
      "main": [
        [
          {
            "node": "Debug: Webhook Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug: Webhook Received": {
      "main": [
        [
          {
            "node": "AI Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Generator": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkedIn Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Content Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "cvshxmj3jYHG9qzu1Z8r8"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "167ef3e6-dbd4-49b8-93f9-d87e438333b9",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "tags": []
}