IELTS_Instagram_Carousel_Poster.json
{
  "updatedAt": "2026-01-19T15:06:02.597Z",
  "createdAt": "2026-01-19T15:06:02.597Z",
  "id": "bqLNCiRlpkabjX3h",
  "name": "IELTS Instagram Carousel Poster",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {
          "filter": "mimeType contains 'image/'"
        }
      },
      "id": "google-drive-list",
      "name": "List Slides from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all image files from Google Drive\nconst items = $input.all();\n\n// Sort by name to ensure correct order (slide1, slide2, etc.)\nconst sortedItems = items.sort((a, b) => {\n  const nameA = a.json.name || '';\n  const nameB = b.json.name || '';\n  return nameA.localeCompare(nameB);\n});\n\n// Take only first 4 slides for carousel\nconst slides = sortedItems.slice(0, 4);\n\nif (slides.length < 1) {\n  throw new Error('No slides found in the Google Drive folder');\n}\n\n// Return slide IDs for downloading\nreturn slides.map(item => ({\n  json: {\n    fileId: item.json.id,\n    fileName: item.json.name,\n    mimeType: item.json.mimeType\n  }\n}));"
      },
      "id": "prepare-slides",
      "name": "Prepare Slides",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "options": {}
      },
      "id": "download-slides",
      "name": "Download Slides",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        720,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all downloaded slides into a single item for Instagram\nconst items = $input.all();\n\n// Extract binary data from all items\nconst mediaItems = items.map((item, index) => ({\n  type: 'IMAGE',\n  binaryPropertyName: `data`\n}));\n\n// Combine all binaries into one item\nconst combinedBinaries = {};\nitems.forEach((item, index) => {\n  if (item.binary && item.binary.data) {\n    combinedBinaries[`image${index}`] = item.binary.data;\n  }\n});\n\nreturn [{\n  json: {\n    slideCount: items.length,\n    caption: `\ud83d\udcda IELTS Tip of the Day!\\n\\nSwipe through to learn today's valuable tips for your IELTS preparation! \ud83d\udc49\\n\\n#IELTS #IELTSPreparation #IELTSTips #EnglishLearning #StudyAbroad #Bandladder`,\n    mediaCount: Object.keys(combinedBinaries).length\n  },\n  binary: combinedBinaries\n}];"
      },
      "id": "aggregate-slides",
      "name": "Aggregate Slides",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        304
      ]
    },
    {
      "parameters": {
        "operation": "imageCarousel",
        "caption": "={{ $json.caption }}",
        "additionalFields": {}
      },
      "id": "instagram-post",
      "name": "Post to Instagram",
      "type": "n8n-nodes-base.instagram",
      "typeVersion": 1,
      "position": [
        1200,
        304
      ],
      "credentials": {
        "instagramOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "chatId": "",
        "text": "=\u2705 *IELTS Carousel Posted!*\n\n\ud83d\udcf8 {{ $json.slideCount }} slides posted to Instagram\n\nCaption:\n{{ $json.caption }}\n\n\u2014 Bandladder Automation",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-telegram",
      "name": "Notify on Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        304
      ],
      "credentials": {
        "telegramApi": {
          "id": "a6ZPKX5fbTN6Bklz",
          "name": "Bandladder Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Slides from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Slides from Drive": {
      "main": [
        [
          {
            "node": "Prepare Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Slides": {
      "main": [
        [
          {
            "node": "Download Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Slides": {
      "main": [
        [
          {
            "node": "Aggregate Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Slides": {
      "main": [
        [
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Notify on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": null,
  "versionId": "c36d56fd-ce2c-4098-8547-a06ee618a074",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": []
}