spoken_english_spoken_fast.json
{
  "updatedAt": "2026-01-14T15:44:56.895Z",
  "createdAt": "2026-01-14T14:34:14.681Z",
  "id": "uH3zuca23eJvjslY",
  "name": "spoken english - spoken fast",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate",
        "options": {
          "systemMessage": "==You are the \"BandLadder\" Senior Content Engine. \nYour goal is to generate a high-density \"Spoken English\" list (30 items) split across two columns without repeating any contraction within a 14-day cycle..\n\n### INSTRUCTIONS:\n1. *The Strategy:* Pick a specific theme for fast speech (e.g., Casual Daily Life, Travel, or Socializing).\n2. *Word Logic:* - Generate exactly 30 unique spoken contractions.\n   - Format each as: \"Contraction (Formal Version)\" -> e.g., \"Gonna (Going to)\".\n3. *Column Split:* - col_1: The first 15 items from the list, one per line.\n   - col_2: The remaining 15 items from the list, one per line.\n4. *Template Fit:* Keep each entry on a single line.\n5. *PDF Content Expansion:* - pdf_tricks (Slide 2): Write 5-7 detailed sentences explaining the rules and social nuances of using reductions in spoken English.\n   - pdf_examples (Slide 3): Choose 5 items from your list. For each, provide a \"Formal Sentence\" and then the same sentence upgraded to \"Fast Speech\" to fill the slide.\n\n### OUTPUT FORMAT (Strict JSON):\n{\n  \"headline\": \"Speak Fast: [Theme]\",\n  \"col_1\": \"Items 1-15 \\n Separated by newlines\",\n  \"col_2\": \"Items 16-30 \\n Separated by newlines\",\n  \"col_3\": \"Comment 'PDF' for the full 30-word Guide!\",\n  \"pdf_tricks\": \"\ud83d\udd25 PRO TIP: [5-7 sentences of professional advice]\",\n  \"pdf_examples\": \"\ud83d\udcdd COMPARISON IN ACTION:\\n\\n1. Formal: [Sentence]\\n   Fast: [Upgraded Sentence]\\n\\n2. Formal: [Sentence]\\n   Fast: [Upgraded Sentence]\\n\\n3. Formal: [Sentence]\\n   Fast: [Upgraded Sentence]\\n\\n4. Formal: [Sentence]\\n   Fast: [Upgraded Sentence]\\n\\n5. Formal: [Sentence]\\n   Fast: [Upgraded Sentence]\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        16
      ],
      "id": "d3a5436c-26d2-42cd-a88d-948d006aade6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": null
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        224
      ],
      "id": "0fda556b-d5ee-444d-bd1b-8726b8d004d7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AkxgrZBH93w35kMj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "   // Get the data from the previous node\nconst item = $input.first().json;\n\n// Find the text content safely (checks .output, .text, or nested content)\nlet rawText = item.output || item.text;\n\n// If the text is hidden deep in a \"parts\" structure (common in some versions)\nif (!rawText && item.content && item.content.parts) {\n\u00a0 rawText = item.content.parts[0].text;\n}\n\n// If we still can't find text, fallback to stringifying the whole item to avoid crashing\nif (!rawText) {\n\u00a0 rawText = JSON.stringify(item);\n}\n\n// Clean up the Markdown formatting (removes ```json and ```)\nconst cleanJson = rawText.replace(/```json|```/g, '').trim();\n\n// Parse and return the final JSON object\nreturn JSON.parse(cleanJson);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        208
      ],
      "id": "f0e0e2a4-bfd9-499b-8956-5eab824401bd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        32,
        16
      ],
      "id": "87ea65c9-0611-4d3c-afb7-e4502b6feff0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1V0tQrJkqT88Dy6QOkVTjRU_p0VFZscCLLAPpKZAHqGA",
          "mode": "id"
        },
        "name": "g3ba5b8b8651_0_157",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        688,
        48
      ],
      "id": "d42b558f-b4b1-4225-b61d-52310f7da38d",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8YK4YgGXohrNXxWI",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "getThumbnail",
        "presentationId": "={{ $json.presentationId }}",
        "pageObjectId": "=g3ba5b8b8651_0_157"
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        1296,
        208
      ],
      "id": "91a7f60a-0df7-456a-b484-bd2891c715f1",
      "name": "Get the thumbnail for a page",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "iYuO9DBOap0c1dnx",
          "name": "Google Slides account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.contentUrl }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1504,
        208
      ],
      "id": "693d2db6-f7b0-44bf-83a2-57a349e3efe1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "replaceText",
        "presentationId": "={{ $json.id }}",
        "textUi": {
          "textValues": [
            {
              "text": "{{headline}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.headline }}"
            },
            {
              "pageObjectIds": [
                "g3ba5b8b8651_0_157"
              ],
              "text": "{{col_1}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.col_1 }}"
            },
            {
              "pageObjectIds": [
                "g3ba5b8b8651_0_157"
              ],
              "text": "{{col_3}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.col_3 }}"
            },
            {
              "pageObjectIds": [
                "g3ba5b8b8651_0_52"
              ],
              "text": "{{pdf_tricks}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.pdf_tricks }}"
            },
            {
              "pageObjectIds": [
                "g3ba5b8b8651_0_104"
              ],
              "text": "{{pdf_examples}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.pdf_examples }}"
            },
            {
              "pageObjectIds": [
                "g3ba5b8b8651_0_157"
              ],
              "text": "{{col_2}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.col_2 }}"
            }
          ]
        },
        "options": {
          "revisionId": ""
        }
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        880,
        208
      ],
      "id": "e047e06b-7042-4ea0-afae-fe3ef44cdaa3",
      "name": "Replace text in a presentation",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "iYuO9DBOap0c1dnx",
          "name": "Google Slides account 2"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841454136519089",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $('HTTP Request').item.json.contentUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2080,
        208
      ],
      "id": "a908e7e8-4d69-4cbc-8c2e-283292f9d0fb",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "qN18Zkmaf2RuSsur",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841454136519089",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2288,
        208
      ],
      "id": "330eaf63-0842-4ba8-a523-7e695f37a095",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "qN18Zkmaf2RuSsur",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a caption for a post about: {{ $('Code in JavaScript').item.json.headline }}",
        "options": {
          "systemMessage": "=You are the Social Media Manager for \"BandLadder\".\nI will give you a topic (e.g., \"Top 10 Synonyms for Bad\").\n\nYour Goal: Write a high-converting Instagram Caption.\n\nSTRUCTURE:\n1. THE HOOK:\n   - Write 1 punchy sentence about the topic.\n   - Example: \"Stop using basic words like 'Bad'\u2014here are 10 alternatives to boost your score! \ud83d\ude80\"\n\n2. THE SALES PITCH (Paste Exactly):\n   \"Achieve your dream IELTS / PTE / CELPIP score with personalized online classes from an expert trainer.\n   \u2022 Live interactive sessions for all modules: Listening, Reading, Writing, Speaking\n   \u2022 Updated exam patterns, tips, and strategies that actually work\n   \u2022 Regular mock tests, detailed feedback, and progress tracking\n   \u2022 Flexible timings for working professionals and students\"\n\n3. THE CTA:\n   \"Dm for online IELTS / PTE / CELPIP classes or comment \u201cCLASS\u201d and I\u2019ll reach out to you.\"\n\n4. HASHTAGS (Paste Exactly as one block):\n   \"#ielts #learnenglish #studyabroad #englishlearning #ieltspreparation #studyincanada #englishteacher #vocabulary #englishgrammar #esl #studyinuk #internationalstudents #speakenglish #englishcourse #toefl #ieltsexam #englishvocabulary #grammar #studyvisa #englishclass #ieltswriting #ieltstips #englishlanguage #studentvisa #language\"\n\nOUTPUT RULE:\n- Output ONLY the final caption text.\n- Do not add \"Here is the caption\" or quotes.\n- Ensure all hashtags have the '#' symbol."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1712,
        208
      ],
      "id": "c71e0d1f-70fd-469e-9574-0c236a512e17",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1584,
        416
      ],
      "id": "ffe27934-9c89-4876-a44a-2ac6449a171a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "AkxgrZBH93w35kMj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.presentationId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "slidesToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        -192
      ],
      "id": "29704b89-c0d9-49c1-963b-7631a1b7fa8e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8YK4YgGXohrNXxWI",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Code in JavaScript').item.json.headline }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=1XgNriZ7OfCXixt6vBA0SSgo_t1O6bGOu",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1504,
        -192
      ],
      "id": "e3e5ec6b-7af8-44d3-9257-7c9a3565836c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8YK4YgGXohrNXxWI",
          "name": "Google Drive account 4"
        }
      }
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Replace text in a presentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the thumbnail for a page": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace text in a presentation": {
      "main": [
        [
          {
            "node": "Get the thumbnail for a page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "1a5f9445-f2e3-4668-a8e2-d76fc52ac1b7",
  "activeVersionId": null,
  "versionCounter": 40,
  "triggerCount": 1,
  "tags": []
}